
/*----Body----*/

body {
	font-family: sans-serif;
	margin-top:0px;
	margin-bottom:0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #f5f5f5;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto auto auto auto;
	grid-gap: 5px 5px;
	grid-template-areas:"header header"
						"nav nav"
						"aside main"
						"footer footer"					
}

/*----/body----*/




/*----Header----*/

.mainHeader { 	
	color: #ECE3DC;
	text-align: center;
	font-size: 125%;
	font-family: auto;	
	background: url("Pictures/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: auto;
	height: 810px;
}

.mainHeader h1 {
	color: white;
	background: none;
	margin-top:300px;
	margin-bottom:0px;
}

.Header { 	
	text-align: center;
	font-size: 125%;
	font-family: auto;	
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: auto;
	height: 80px;
}

h1 {
	color: black;
	background: none;
}

.headline { 
	color: #333;
	text-align: center;
	font-size: 1.2rem;
	font-family: auto;
	text-transform: capitalize;

}

header{
	grid-area: header;
}

/*----/header----*/

.homeButton {
	float: left;
	padding: 10px;
}


/*-----Menybar-----*/

/* Hides it
nav {
	grid-area: nav;
}



.menybar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.menybar li {
  float: right;
}

.menybar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
/*
/*-----/menybar-----*/




/*----Main----*/

main {
	grid-area: 2 / 1 / 2 / 4;
	background-color: #f6f6f6;	
}

/*----/main----*/


/*----Litt om meg----*/

.container {
	background-color: white;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  img {
	opacity: 1;
	max-width: 100%
  }

  .one {
	opacity: 1;
	max-width: 80%

  }

  .image {
	flex-basis: 100%
  }
  .text {
	flex-basis: 70%;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 100px;
  }


/*----/Litt om meg----*/


/*----Main article----*/

.main-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin: 50px;	
	margin-top: 20px;
}

.main-article {
	margin: 7px;
	background-color: white;
	text-align: center;
	padding: 0px;
	border-radius: 25px;
	border: 1px solid gray;
}

.main-article2 {
	margin-left: 35px;
	margin-right: 10px;
	margin-top: 40px;
	background-color: #f6f6f6;
	text-align: center;
	font-size: 15px;
	padding: 0px;
	width: 300px; /*Bildet main-pic-1 må være samme width som her for å nå i kantene*/
	/*height: 300px;   -----for å få boksene som firkanter----*/
	height: 375px;
	border-radius: 0px;
	border-top-right-radius: 25px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 2px 15px 0 rgba(0,0,0,0.19);
	border: 0px solid rgb(128, 128, 128);
}

.main-article2:hover {
	background-color: white;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 2px 15px 0 rgba(0,0,0,0.19);
}

.main-section ul {
	list-style-type: none;
	padding: 0;
}

.main-article-pic {
	max-width: 100%;
    margin: auto;
	border-radius: 25px;
	position: relative; /* Teksten som kommer når man hovrer over bildet dukker opp i midten*/
}

.main-article-pic2 {
	border-top-left-radius: 0px; /*Runder av venstre hjørnet*/
	border-top-right-radius: 25px; /*Runder av høyre hjørnet*/
	opacity: 1; /*Synligheten til bildet, som er 100% når den er 1*/
	transition: .5s ease;
	
}

h2 {
	margin-top: 100px;
	color: black;
	font-size: 40px;
}

h3 {
	color: black;
	font-size: 18px;
}


.middle {
	color: black;
	text-align: center;
	background-color: #ccc7bd;
	transition: .5s ease; /*får en smooth overgang*/
	opacity: 0; /*Skjuler teksten, siden bare skal vises når man holder musepekeren over bildet.*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100%;
	padding: 1% 2%; /*størrelsen på boksen teksten er inni*/
}

.main-article-pic:hover .main-article-pic2 {
  opacity: 0.4; /*bildet blir svakere, mer gjennomsiktig*/
}

.main-article-pic:hover .middle {
  opacity: 1; /*Tallet 1 gjør at teksten er helt synlig, fremfor ikke synlig eller gjennomsiktig.*/
}


/*----/main article----*/




/*----Article----*/

article {
	background-color: white;
	padding: 15px;
	font-size: 1.15rem;
	border: solid;
	border-radius: 25px;
	border-color: black;
}


.publisert{
	font-style: italic;
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
}

time {
	color: rgb(51, 78, 8);
}


.artikkel {
	font-size: 27px;
}

.artikkelh3 {
	font-size: 22px;
}

/*----Adjusts the line----*/
hr {
	color:rgb(51, 78, 8);
	width: 50px;		/* 15% */
    margin: auto;
	border: solid;
	border-radius: 25px;
}

/*----/article----*




/*-----Links-----*/

ul {
	list-style-type: none;
	padding: 0;
	margin: 20px;
}

a {
	color: rgb(5, 68, 5);
}

li a:hover {
  background-color: none;
  color: white;
  text-decoration: underline;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

ul a:focus {
	color: white;
	background-color: none;
	border: solid;
}

.sideLinks {
	font-size: 18px;
}

.sideLinks a:hover {
	background-color: white;
	color: black;
	font-size: 18px;
	text-decoration: underline;
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}


.artikkel-link2 {
	color: blue;
}

/*-----/links-----*/




/*-----Buttons-----*/

.buttonLink {
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border: solid;
	border-color: black;
	border-radius: 7px;
	float: center;
	padding: 5px;
}

.buttonLink:hover {
	box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}

.button-link-aside {
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border: solid;
	border-color: black;
	border-radius: 7px;
	float: center;
	padding: 5px;
}
	
/*-----/buttons-----*/



/*----Figure----*/

figure {
	padding: 0;
}

figcaption {
	color: blue;
}

iframe {
margin:8px;
}

img {
	max-widht: 100%;
}


.pic {
	padding: 15px;
	max-width: 50%;
	box-sizing: border-box;
	float:right;
	margin: 0 auto;

}

code {
	background-color: #d8d3a4;
}

/*----/figure----*/





/*----Footer section----*/

.footer-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1px 70px;	
	float: center;
}

/*----/footer section----*/




/*----Footer article----*/

.footer-article {
	margin: 1px;
	background-color: black;
	text-align: left;
	width: 270px;
}


.footer-section ul {
	list-style-type: none;
	padding: 0;
}

.footer-article-pic {
	max-width: 100%;
    margin: auto;
	border-radius: 25px;
}


.h2Footer {
	color: white;
	font-size: 20px;
}


.bullets {
	color: white;
	font-family: Arial, 'Helvetica Neue' , Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
}


/*----/footer article----*/




/*----Footer----*/

footer {
	font-size: 12px;
	color: rgb(182, 182, 182);
	background-color: #f5f5f5;
	grid-area: footer;
}

/*----/footer----*/





/*----Media Queries----*/


@media only screen and (min-width:970px) {
	.main-section {
		flex-direction: row;
	}
}

@media only screen and (max-width:970px) {

	body {
		margin-top:0px;
		margin-bottom:0px;
		margin-right: 0px;
		margin-left: 0px;
		background-color: white;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;
		grid-gap: 5px 5px;
		grid-template-areas:"header"
							"nav"
							"main"
							"aside"
							"footer"
						
	}
	.footer-section {
		flex-direction: column;
	}
	.main-section {
		flex-direction: column;
	}
	.main-article {
		margin: 5px auto;
	}

}


/*----/media queries----*/

